
.tarjeta {
  background-color: #aee6b0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 20%;
  height: 30%;
}

.tarjeta img {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.tarjeta-boton {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
}
